sample/output/*.xml
sample/output/*.bib
latexCrossRef/ccv-nserc.txt
latexCrossRef/ccv-nserc.pdf
*.bbl
*.pdf
latexCrossRef/confsInclude.tex
latexCrossRef/journalsInclude.tex
latexCrossRef/paperReferences.txt
generate
latexCrossRef/ccvReferences.txt
latexCrossRef/auto/
latexCrossRef/contributionsInclude.tex
